@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Epilogue", sans-serif;
  --color-primary: #3a6965;
  --color-background-light: #fafaf9;
  --color-background-dark: #1a2c2d;
  --radius-xl: 1.5rem;
}

@layer base {
  body {
    -webkit-tap-highlight-color: transparent;
    font-family: var(--font-display);
    background-color: var(--color-background-light);
    @apply antialiased text-[#121716];
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
    line-height: 1;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}